/* Contenedor principal */
.signin__container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Título */
.signin__titulo {
    font-size: 28px;
    color: #333;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

/* Estilo para los campos del formulario */
.field--container {
    width: 100%;
    margin-bottom: 20px;
}

.field--container label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #555;
    font-family: 'Poppins', sans-serif;
}

.field--container input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    transition: border-color 0.3s ease;
}

.field--container input:focus {
    outline: none;
    border-color: #079f6f;
}

/* Botón de enviar */
.signin__submit input {
    width: 100%;
    background-color: #079f6f;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.signin__submit input:hover {
    background-color: #005b3e;
}

/* Responsivo */
@media (max-width: 768px) {
    .signin__container {
        width: 90%;
    }

    .signin__titulo {
        font-size: 24px;
    }

    .field--container input {
        font-size: 14px;
    }

    .signin__submit input {
        font-size: 14px;
        padding: 12px;
    }
}




/* Registro */


/* Contenedor principal */
.signup__container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Título */
.signup__titulo {
    font-size: 28px;
    color: #333;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

/* Estilo para los campos del formulario */
.name--campo {
    width: 100%;
    margin-bottom: 20px;
}

.name--campo label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #555;
    font-family: 'Poppins', sans-serif;
}

.name--campo input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    transition: border-color 0.3s ease;
}

.name--campo input:focus {
    outline: none;
    border-color: #079f6f;
}

/* Botón de enviar */
.signup__submit input {
    width: 100%;
    background-color: #079f6f;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.signup__submit input:hover {
    background-color: #005b3e;
}

/* Responsivo */
@media (max-width: 768px) {
    .signup__container {
        width: 90%;
    }

    .signup__titulo {
        font-size: 24px;
    }

    .name--campo input {
        font-size: 14px;
    }

    .signup__submit input {
        font-size: 14px;
        padding: 12px;
    }
}
